<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="FIAS.MsiPackage" Name="MsiPackage" Manufacturer="Frederick Irwin Anglican School" Version="1.0.0.0" UpgradeCode="{02F5A539-A955-4B62-B26D-4914F4CF6594}">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
