<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <!-- Set a property based on an existing registry value -->
        <Property Id="REMEMBERDATAFOLDER">
            <RegistrySearch Id="SearchCountFileFolder" Root="HKLM" Key="SOFTWARE\BeltTest" Name="CountFileFolder"
                            Type="raw" />
        </Property>
        <!-- Set the DATAFOLDER directory to the remembered value -->
        <!-- Set after AppSearch so that REMEMBERDATAFOLDER is populated -->
        <!-- Using the Condition so that we only set it if we found a value -->
        <SetProperty Id="DATAFOLDER" Value="[REMEMBERDATAFOLDER]" After="AppSearch" Condition="REMEMBERDATAFOLDER" />

        <!-- Do the same for the Customer property; if we don't set this, then the customer name will default to "valued" every upgrade -->
        <Property Id="REMEMBERCUSTOMER">
            <RegistrySearch Id="SearchCustomer" Root="HKLM" Key="SOFTWARE\BeltTest" Name="Customer" Type="raw" />
        </Property>
        <SetProperty Id="CUSTOMER" Value="[REMEMBERCUSTOMER]" After="AppSearch" Condition="REMEMBERCUSTOMER" />

        <!-- Set a property for the customer name if it isn't set above. -->
        <Property Id="CUSTOMER" Value="valued" />


        <ComponentGroup Id="ClassLibraryComponents" Directory="INSTALLFOLDER">
            <Component>
                <File Source="ClassLibrary1.dll" />
            </Component>

            <Component>
                <RegistryValue Root="HKLM" Key="SOFTWARE\BeltTest" Name="Edition" Value="Standard" />
            </Component>

            <Component>
                <RegistryValue Root="HKLM" Key="SOFTWARE\BeltTest" Name="Customer" Value="[CUSTOMER]" />
            </Component>

            <!-- Configure the CountFileFolder and CountFilename registry values to point to our Data folder and filename -->
            <!-- Set the permissions on the Data folder so that the LocalService account can write to it -->
            <Component Directory="DATAFOLDER">
                <RegistryValue Root="HKLM" Key="SOFTWARE\BeltTest" Name="CountFileFolder" Value="[DATAFOLDER]" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\BeltTest" Name="CountFileName" Value="data.txt" />
                <CreateFolder>
                    <!-- Specify permissions for our data folder -->
                    <!-- Protected, Auto-Inherit permissions (PAI) -->
                    <!-- Protected DACL with Auto-Inherit enabled (PAI) -->
                    <!-- Allow (A)-->
                    <!-- Object Inherit the allowance (OI) -->
                    <!-- Container Inherit the allowance (CI) -->
                    <!-- Full Access (FA) or custom access (0x1200a9) -->
                    <!-- LocalService account (LS)-->
                    <!-- Builtin Administrators (BA)-->
                    <!-- Authenticated Users (AU) -->
                    <!-- The SDDL syntax can be exported from a directory with the desired access using -->
                    <!-- cacls.exe /S [Directory] -->
                    <PermissionEx Sddl="D:PAI(A;OICI;FA;;;LS)(A;OICI;FA;;;BA)(A;OICI;0x1200a9;;;AU)" />
                </CreateFolder>

                <!-- data.txt was created by the service at runtime.-->
                <!-- Clean up after ourselves when we uninstall by removing the file. -->
                <!-- WARNING: When uninstalling, the path defaults to [INSTALLFOLDER]\data.txt -->
                <!-- If you changed the location of data.txt via the registry, the file will be left behind! -->
                <RemoveFile Name="data.txt" On="uninstall" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>