<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="INSTALLFOLDER" Name="!(bind.Property.Manufacturer) !(bind.Property.ProductName)">
                <!-- This path can be changed by the user during installation, so we use uppercase for the ID to make it a public property -->
                <Directory Id="DATAFOLDER" Name="Data" />
            </Directory>
        </StandardDirectory>
    </Fragment>
</Wix>