<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Id="DeploymentDojo.BeltTestPackage" Name="Belt Test" Manufacturer="Deployment Dojo" Version="$(Version)">
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

        <!-- If the application is already installed, ignore the requirement for a license key-->
        <!-- Launch condition operates backwards -->
        <!-- will not show message if the application is Installed or LICENSEKEY is provided -->
        <!--<Launch Message="A license key is required to be provided on the command line" Condition="Installed OR LICENSEKEY" />-->

        <!-- Define an Icon property -->
        <Icon Id="dojo.ico" SourceFile="..\resources\deployment_dojo.ico" />

        <!-- Set Add/Remove Programs icon -->
        <Property Id="ARPPRODUCTICON" Value="dojo.ico" />

        <Feature Id="Main">
            <ComponentGroupRef Id="ConsoleAppComponents" />
            <ComponentGroupRef Id="WindowsFormsAppComponents" />
            <ComponentGroupRef Id="WindowsServiceComponents" />
            <ComponentGroupRef Id="ClassLibraryComponents" />
        </Feature>
    </Package>
</Wix>