<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="WindowsFormsAppComponents" Directory="INSTALLFOLDER">
            <Component>
                <File Source="windowsformsapp1.exe" />
                <!-- Create a shortcut on the desktop-->
                <Shortcut Name="Deployment Dojo Windows Forms App 1" Directory="DesktopFolder" Advertise="yes"
                          Icon="dojo.ico" />
                <!-- Create a shortcut on the Start Menu-->
                <Shortcut Name="Deployment Dojo Windows Forms App 1" Directory="ProgramMenuFolder" Advertise="yes"
                          Icon="dojo.ico" />
            </Component>
        </ComponentGroup>

        <Icon Id="dojo.ico" SourceFile="..\resources\deployment_dojo.ico" />
    </Fragment>
</Wix>