<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="WindowsServiceComponents" Directory="INSTALLFOLDER">
            <Component>
                <File Source="WindowsService1.exe" />
                <!-- Install the service -->
                <!-- the properties determine how the service is configured-->
                <ServiceInstall Name="DeploymentDojoCounting" DisplayName="~Deployment Dojo Counting Service"
                                Type="ownProcess" Start="auto" ErrorControl="normal"
                                Account="NT AUTHORITY\LocalService"
                                Description="Updates the WindowsService1.txt file with the number of seconds since the service started." />
                <!-- Determine how the service is controlled during the installation -->
                <!-- Omitting this element means that your service won't take effect until after the computer reboots-->
                <!--  (and is then started/stopped depending on the ServiceInstall configuration) -->
                <!-- Also, when uninstalling, your service won't be removed! -->
                <ServiceControl Name="DeploymentDojoCounting" Start="install" Stop="both" Remove="uninstall" />
                <!-- WindowsService1.txt was created by the service at runtime.-->
                <!-- Clean up after ourselves when we uninstall by removing the file. -->
                <RemoveFile Name="WindowsService1.txt" On="uninstall" />

                <CreateFolder>
                    <!-- Specify permissions for our installation folder -->
                    <!-- Protected, Auto-Inherit permissions (PAI) -->
                    <!-- Inherit permissions (PAI) -->
                    <!-- Allow (A)-->
                    <!-- Object Inherit the allowance (OI) -->
                    <!-- Container Inherit the allowance (CI) -->
                    <!-- Full Access (FA) or custom access (0x1200a9) -->
                    <!-- LocalService account (LS)-->
                    <!-- Builtin Administrators (BA)-->
                    <!-- Authenticated Users (AU) -->
                    <!-- The SDDL syntax can be exported from a directory with the desired access using -->
                    <!-- cacls.exe /S [Directory] -->
                    <PermissionEx Sddl="D:PAI(A;OICI;FA;;;LS)(A;OICI;FA;;;BA)(A;OICI;0x1200a9;;;AU)" />
                </CreateFolder>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>