<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Id="TODO_Manufacturer.EnterprisePackage" Name="~EnterprisePackage" Manufacturer="Dojo" Version="1.0.0.0">
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

        <!-- Set a property, used in the WixLib -->
        <Property Id="DojoType" Value="Enterprise" />
        <Feature Id="Main">
            <ComponentGroupRef Id="ExampleComponents" />
        </Feature>
    </Package>
</Wix>