<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Id="TODO_Manufacturer.episode12" Name="~episode12" Manufacturer="Deployment Dojo" Version="$(Version)">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Feature Id="Main">
			<ComponentGroupRef Id="ExampleComponents" />
		</Feature>
	</Package>
</Wix>