<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Version="1.1.0.0" Manufacturer="Frederick Irwin Anglican School" UpgradeCode="51f7d5a7-99ab-45f1-9f37-c15baff220c9" Name="~Dojo Ep7">
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="no"/>
        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Name="~ep7" Id="InstallFolder"/>
        </StandardDirectory>
        <Feature Id="Main">
            <!-- Reference the ComponentGroup from files.wxs-->
            <ComponentGroupRef Id="InstallComponents"/>
        </Feature>
    </Package>
</Wix>