<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
            <Component>
                <File Source="Consoleapp1.exe" />
            </Component>
            <Component>
                <!-- Variable can also be referenced by [DojoType] -->
                <!-- Using the bind syntax !() will force the variables to be defined at build time. -->
                <RegistryValue Root="HKLM" Key="Software\Dojo" Type="string" Name="Type" Value="!(wix.DojoType)"
                               KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>