name: Belt Test Build

on:
    push:
        branches:
        - main

jobs:
    build:
        name: Build
        runs-on: windows-latest
        steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Run build
          shell: cmd
          run: ./build.cmd

        - name: Save Package
          uses: actions/upload-artifact@v4
          with:
            name: artifacts
            path: ./BeltTestPackage/bin/**
